.App {
  text-align: center;
  margin: 1% auto;
  width: auto;
}

.rcw-header {
  background-color: #325fe5;
}

.rcw-message > .rcw-response {
  font-size: smaller;
}

.image {
  align-items: start;
  padding-left: 0%;
  padding-right: 10%;
}

.Header {
  background-color: #325fe5;
  align-items: center;
  justify-content: center;
  font-size: 3.5em;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 10px rgb(70, 125, 234);
  width: 100%;
  height: 40%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 25px;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  
  .App {
    text-align: center;
    width: auto;
  }
  
  .image {
    align-items: start;
    padding-left: 0%;
    padding-right: 10%;
  }
  
  .Header {
    background-color: #325fe5;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px rgb(70, 125, 234);
    width: 100%;
    height: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 25px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
  }
}

@media screen and (max-width: 1300px) {
  
  .App {
    text-align: center;
    width: auto;
  }
  
  .image {
    align-items: start;
    padding-left: 0%;
    padding-right: 10%;
  }
  
  .Header {
    background-color: #325fe5;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px rgb(70, 125, 234);
    width: 100%;
    height: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 25px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
  }
}

@media screen and (max-width: 995px) {
  
  .App {
    text-align: center;
    width: auto;
  }
  
  .image {
    align-items: start;
    padding-left: 0%;
    padding-right: 60%;
  }
  
  .Header {
    background-color: #325fe5;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px rgb(70, 125, 234);
    width: 100%;
    height: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 25px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
  }
}
